body {
  margin: 40px auto;
  max-width: 480px;
  line-height: 1.6;
  font-size: 20px;
  padding: 0;
  background-color: #d9f8fa;
}

h1 {
  text-align: center;
}

.wrapper {
  display: grid;
  margin-top: 10px;
  justify-items: center;
}

.btn {
  cursor: pointer;
  margin-left: 10px;
  justify-items: center;
}


